.page_title {
    text-align: center;
    font-size: 34px;
    color: #04BE02;
    font-weight: 400;
    margin: 0 15%;
}
.page_desc {
    text-align: center;
    color: #888;
    font-size: 14px;
}
.hd {
    padding:2em;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.btn-select {
    margin:0 auto;
}
.cell_title {
    margin-top: .77em;
    margin-bottom: -.5em;
    padding-left: 15px;
    padding-right: 15px;
    color:#808080;
    font-size: 14px;
}
.cell_desc {
    margin-top: .77em;
    margin-bottom: .3em;
    padding-left: 15px;
    padding-right: 15px;
    color:#428bca;
    font-size: 14px;
}